

#container{
    margin: 0 auto;
    overflow: hidden;
}
#header{
    background-color:#536F66 ;
    color:white;
    float: none;
    text-align: center;
}

#leftMenu{  
    float: left;
    width: 15%;
    margin-bottom: -1000px; 
    padding-bottom: 1000px;
}
#content{
    background-color: rgba(41, 21, 3, 0.801);
    float: left;
    width: 70%;  
    margin-bottom: -650px;
    padding-bottom: 1000px;

}
#rightMenu{    
    float: left;
     width: 15%;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}



#png{
	 width: 100;
    height: 100;


}


.body {
	color: olive;
	text-align: center;
	font-size: 40px;}

	
	
.icono {
	font-size: 55px;
}

  
.p1 {
	font-family: Comic Sans MS;
	font-size: 25px;
	color: #620000
}

.p2 {
    color: powderblue;
	font-family: Open Sans;
	font-size: 25px;	
}
.p3 {
	font-family: Franklin Gothic;
	font-size: 25px;
	color: #745d5d 
}
h1 
{
	font-family:Comic Sans MS;
	font-size: 40px;
	color: #a3a3a3;
}

h2
{
	font-family: Algerian;
	font-size: 30px;
	color: #FFFFFF;
}

h4
{
	font-family: verdana;
	font-size: 20px;
	color: #000000;
	float: center;
}
h5
{
	font-family:Comic Sans MS;
	font-size: 40px;
	color: #180d0d;
}
h6 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 40px;
	color: aqua;
	}

div
{
	font-family: verdana;
	font-size: 20px;
	color: #022E39;
	
}

div2
{
	font-family: verdana;
	font-size: 20px;
	color: #EAEAEA;
	
}
header
{
	font-size: 50px;
	width: 1340px;
	height: 80px;
	background-color:#88BFB3;
}

.nav
{
	width: 1340px;
	height: 60px;
    background-color:#88BFB3;
    
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
	
}



section
{
	width: 750px;
	height: 820px;
	background-color:#047350;
	float: left;
}

section2
{
	width: 700px;
	height: 680px;
	background-color:#047350;
	float:left
}



 #f1 {
  background-color: navy;
  position: relative;
  flex: all;
  bottom: 3;
  width: 120%;
  height: 50px;
  color: white;
}


    /* footer */

footer{
    background: #111111;
    padding: 50px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
   
    justify-content: space-evenly;
    margin: auto;

    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 8px solid #2082d3;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #888282;
}





label{
    color:rgba(97, 7, 85, 0.788);

}


#registration-form .frm{
	float: none;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.493);
}



#registration-form .form-control{
	width: 90%;
	padding: 12px 20px;
	height: auto;
}

@media screen and (max-width: 700px){
	

	#registration-form .frm{
		width: 70%;
	}

	#registration-form .form-control{
		width: 100%;
	}
}

@media screen and (max-width: 500px){
	
	#registration-form .frm{
		width: 100%;
	}

	#registration-form h1{
        text-align: center;
        font-size: 30px;
	}

	#registration-form .btn{
		width: 100%;
		margin-top: 20px;
	}
}
